<!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <div class="sidebar-heading">
        Pages
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/chat">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Chat</span>
        </a>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/tictac">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Tic-tac-toe</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/imagespage">
            <i class="fas fa-fw fa-table"></i>
            <span>Images</span>
        </a>
    </li>